html,body{
    height: 100%;
}

body{
    text-align: center;
    display: flex;
    flex-direction: column;
}


article{
    flex: 1 0 auto;
}

footer{
    flex-shrink: 0;
}

#links{
    display: flex;
    flex-flow: column;
}

.entry{
    text-align:left;
    margin: 2vh 3vw;
}

.code{
    font-family: monospace;
}

.underdots{
    border-bottom: 1px dotted;
}