
#contact-top{
    display: flex;
    flex-flow: row;
    padding: 1rem 4rem;
}

#contact-top>div{
    flex:1;
}
article{
    flex-flow: column;
}

#map{
    padding: 0 4rem;
}

#stops-container{
    height: 450px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    /*align-items: center;*/
}

.emph{
    font-weight: bold;
}

.emph > img {
    width: 65px;
}

#map iframe{
    border: 0;
    width: 100%;
}

/* mniejsze PC i tablety */
@media screen and (max-width: 1280px) {
    #contact-top{
        flex-flow: column;
        padding: 0;
    }

    #stops-container{
        width:60vw;
        margin: auto;
        align-items: start;
    }

    .emph > img{
        max-width: 60px;
    }
}

/* telefony i mniej */
@media screen and (max-width: 850px) {
    #stops-container{
        grid-template-columns: 1fr;
    }

    #map{
        padding: 0;
        margin: auto;
        width: 80vw;
    }

    .emph > img{
        width: 55px;
    }
}